.header {
    position: absolute;
    top: 8px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: left;
    margin-left: 8px;
}

.active-item {
    background-color: antiquewhite;
}